body:{
	margin: 0;
	font-family: sans-serif;
}

header{
	background: #888;
	color:white;
	padding: 15px 15px 0 15px
	font-family: sans-serif;
}

header h1 {
	margin: 0;
}

nav ul{
	margin: 0;
}

nav ul li{
	background-color: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;

}

nav ul li a {
	color: white;
}